* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.light-theme {
  --textColor: white;
  --backgroundColor: black;
}

.dark-theme {
  --textColor: black;
  --backgroundColor: white;
}

body {
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

.box {
  padding: 20px !important;
  border: 5px solid !important;
  text-align: center !important;
  border-radius: 15px !important;
  border-color: var(--textColor);
  margin: 4.374rem 0.8rem !important;
}

/* title=== heading+references */

.title {
  padding: 10px 0px;
  font-size: 20px !important;
  font-weight: 600 !important;
  text-decoration: none !important;
}

.translation {
  font-size: 25px !important;
  font-weight: 400 !important;
  padding: 20px 0px !important;
}

.arabic {
  color: green !important;
  font-size: 25px !important;
  padding-bottom: 15px !important;
  font-weight: bolder !important;
}

.link {
  color: var(--textColor);
  text-decoration: none !important;
}
